<div class="contenedor-login">
  <img src="/favicon.png" alt="logo" class="logo"/>
  <h2 class="titulo-seccion">Iniciar sesión</h2>

  <form [formGroup]="formularioLogin" (ngSubmit)="alEnviar()">
    
    <div class="grupo-campo">
      <label>Usuario o correo</label>
      <input type="text" formControlName="usuario" placeholder="Usuario o correo"/>
      @if (formularioLogin.get('usuario')?.invalid && formularioLogin.get('usuario')?.touched) {
        <span>El usuario es requerido</span>
      }
    </div>

    <div class="grupo-campo">
      <label>Contraseña</label>
      <input type="password" formControlName="contraseña" placeholder="Contraseña"/>
      @if (formularioLogin.get('contraseña')?.invalid && formularioLogin.get('contraseña')?.touched) {
        <span>La contraseña debe tener al menos 8 caracteres</span>
      }
    </div>

    <button class="btn-primario" type="submit" [disabled]="formularioLogin.invalid">Ingresar</button>

  </form>

  <p>¿No tenés cuenta? <a (click)="irARegistro()">Registrate</a></p>
</div>