<div class="contenedor-publicaciones">
  <div class="formulario-publicacion card">
    <h3 class="titulo-seccion">Nueva publicación</h3>
    <input type="text" [(ngModel)]="nuevaPublicacion.titulo" placeholder="Título"/>
    <textarea [(ngModel)]="nuevaPublicacion.mensaje" placeholder="¿Qué estás pensando?"></textarea>
    <input type="file" accept="image/*" (change)="alSeleccionarImagen($event)" #inputImagen/>
    <button class="btn-primario" (click)="crearPublicacion()">Publicar</button>
  </div>

  <div class="ordenamiento">
    <button 
      [class.btn-primario]="ordenActual === 'fecha'"
      [class.btn-secundario]="ordenActual !== 'fecha'"
      (click)="cambiarOrden('fecha')">
      Más recientes
    </button>
    <button 
      [class.btn-primario]="ordenActual === 'likes'"
      [class.btn-secundario]="ordenActual !== 'likes'"
      (click)="cambiarOrden('likes')">
      Más populares
    </button>
  </div>

  <div class="lista-publicaciones">
    @if (listadoPublicaciones.length === 0) {
      <p class="texto-secundario">No hay publicaciones todavía</p>
    }

    @for (publicacion of listadoPublicaciones; track publicacion._id) {
      <app-publicacion-card
  [publicacion]="publicacion"
  [usuarioActual]="usuarioActual"
  (alDarLike)="toggleLike($event)"
  (alEliminar)="eliminar($event)"
  (alVer)="verPublicacion($event)"
  (alVerPerfil)="verPerfil($event)">
</app-publicacion-card>
    }
  </div>
</div>