@if (estaLogueado()) {
  <nav class="navbar">
    <div class="navbar-logo" (click)="irAPublicaciones()">
  <img src="/favicon.png" alt="logo"/>
  <span class="navbar-logo-texto">toteApp</span>
</div>

    <div class="navbar-botones">
      <button (click)="irAPublicaciones()">
        <lucide-icon [img]="Newspaper" size="18"></lucide-icon>
        Publicaciones
      </button>
      <button (click)="irAMiPerfil()">
        <lucide-icon [img]="CircleUserRound" size="18"></lucide-icon>
        Mi Perfil
      </button>

      @if (usuario.rol === 'administrador') {
        <button (click)="irADashboardUsuarios()">
          <lucide-icon [img]="Users" size="18"></lucide-icon>
          Usuarios
        </button>
        <button (click)="irADashboardEstadisticas()">
          <lucide-icon [img]="LayoutDashboard" size="18"></lucide-icon>
          Estadísticas
        </button>
      }

      <button (click)="cerrarSesion()">
        <lucide-icon [img]="DoorOpen" size="18"></lucide-icon>
        Cerrar sesión
      </button>
    </div>
  </nav>
}

<router-outlet></router-outlet>

@if (mostrarModal) {
  <div class="overlay">
    <div class="modal">
      <h3>Tu sesión está por vencer</h3>
      <p>Quedan 5 minutos de sesión. ¿Querés extenderla?</p>
      <div class="modal-acciones">
        <button (click)="extenderSesion()">Extender sesión</button>
        <button (click)="cerrarSesion()">Cerrar sesión</button>
      </div>
    </div>
  </div>
}